<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zero-carbon</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>zero-carbon recommendation.</h1>
        <div id="chat-window2">
            <div id="output"></div>
            <div id="feedback2"></div>
        </div>
        <h1>zero-carbon recommendation.</h1>
        <div id="chat-window">
            <div id="output"></div>
            <div id="feedback"></div>
        </div>
        <form id="input-form">
            <input id="input-message" type="text" placeholder="Enter your soil contaminants for plants and soil management...">
            <button type="submit">Send</button>
        </form>
    </div>
    <script src="static/script.js"></script>
</body>
</html>